.App {
  min-height: 100vh;
  background-image: url('/src/assets/sunset-background.jpg'); /* Background image from He Junhui*/
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 0;
}

.App > * {
  position: relative;
  z-index: 1; 
}